
    {% extends 'base.html.twig' %}

        {% block title %}Nouveau Mot De Passe
        {% endblock %}
        
        
        {% block body %}
        
            <body>
        
        
                <!--=================================
                        inner banner -->
                <div class="header-inner bg-light text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="text-primary">NOUVEAU MOT DE PASSE</h2>
                                <ol class="breadcrumb mb-0 p-0">
                                    <li class="breadcrumb-item">
                                        <a href="{{path('app_home')}}">
                                            Accueil
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <i class="fas fa-chevron-right"></i>
                                        <span>
                                            Nouveau mot de passe
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=================================
                        inner banner -->
        
                <!--=================================
                        Signin -->
                <section class="space-ptb">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10 col-md-12">
                                <div class="login-register">
                                    <!-- Section nouveau mdp -->
                                    <div class="row">
                                        <div class="col-md-8 mx-auto">
                                            <form  action="{{ path('new_password', { 'id':id}) }}"  method="post" class="mt-1">
                                            
        
                                                <label for="inputPassword" class="mb-2">Mot de passe</label>
                                                <input type="password"  name="password" id="inputPassword" class="form-control mb-4" autocomplete="email" required autofocus placeholder="Rentrez votre nouveau mot de passe">
        
                                                    <button class="btn btn-lg btn-primary" type="submit">
                                                        Envoyer
                                                    </button>
                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!--=================================
                                            -->
        
                            
        
        
                                    <!--=================================
                                            Back To Top-->
                                    <div id="back-to-top" class="back-to-top">
                                        <i class="fas fa-angle-up"></i>
                                    </div>
                                    <!--=================================
                                            Back To Top-->
        
                                    <!--=================================
                                            Javascript -->
        
                                    <!-- JS Global Compulsory (Do not remove)--><script src="js/jquery-3.6.0.min.js"> </script>
                                    <script src="js/popper/popper.min.js"></script>
                                    <script src="js/bootstrap/bootstrap.min.js"></script>
        
                                    <!-- Template Scripts (Do not remove)-->
                                    <script src="js/custom.js"></script>
        
                                </body>
            
                                </html>
        {% endblock %}
        