<!--=================================
Footer-->
<footer class="footer mt-0 ">
	<div class="container pb-5 ">
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6">
				<div class="footer-link">
					<h5 class="text-dark mb-4">A Propos</h5>
					<ul class="list-unstyled">
						<li>
							<a href="#">Qui Sommes-nous</a>
						</li>
						<li>
							<a href="{{ asset('documents/MentionsLegales.pdf') }}" download>Mentions Légales</a>
						</li>
						<li>
							<a href="{{ asset('documents/PolitqueConfidentialite.pdf') }}" download>Confidentialité</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
				<div class="footer-contact-info bg-holder" style="background-image: url(images/google-map.png);">
					<h5 class="text-dark mb-4">Contact</h5>
					<ul class="list-unstyled mb-0">
						<li>
							<i class="fas fa-map-marker-alt text-primary"></i>
							<span>6 Rue Du Général compans 93500 Pantin</span>
						</li>
						<li>
							<i class="fas fa-mobile-alt text-primary"></i>
							<span>+(33) 788850997</span>
						</li>
						<li>
							<i class="far fa-envelope text-primary"></i>
							<span>elias.dejoux@gmail.com</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="border-bottom"></div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-8 text-center text-md-start">
					<p class="mb-0">
						&copy;Copyright
						<span id="copyright">
							<script>
								document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
							</script>
						</span>
						<a href="#">
							Routine Sport
						</a>
						Tous droits réservés
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--=================================
Footer-->

<!--=================================
Back To Top-->
<div id="back-to-top" class="back-to-top">
	<i class="fas fa-angle-up"></i>
</div>
<!--=================================
Back To Top-->

