<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouveau message</title>
</head>
<body>
    <p>Nouveau message de contact reçu :</p>
    
    <ul>
        <li>Nom: {{ data.nom }}</li>
        <li>Email: {{ data.email }}</li>
        <li>Message: {{ data.message }}</li>
    </ul>
</body>
</html>